screenlog*
*.pyc
*.pyo
*.swp
db.sqlite3
bashenv.inc
mockingsite/logfile*
mockingsite/settings/logfile*
mockingsite/mockingsite_nginx.conf
mockingsite/mockingsite_uwsgi.ini
mockingsite/supervisord.conf
mockingsite/logs/*
