/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  background-image: url(../images/background.jpg);
  background-color: #121617;
  background-size: cover;
  color: #FFFFFF;
}

body.open {
  overflow: hidden;
}

.test-screen {
    /*background-color: #121617;*/
    background-color: #272822;
    background-image: none;
}

.app-bar, .top{
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: #4285f4;*/
  /*background-color: #121617;*/
  background-color: #D14D28;
  /*background-image: url(../images/background.jpg);*/
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main,
.app-bar.open ~ .acting-main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 90px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}


/* Attempts for notifications */
.badge {
  display: block;
  position: absolute;
  top: 5px;
  right: 3px;
  line-height: 14px;
  height: 16px;
  font-size: 10px;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, .25);
  border: 1px solid;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  background: #fa623f;
  border-color: #fa5a35;
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
}


.navdrawer-container,
.offcanvas-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  padding-top: 40px;
  /*background-color: #404040;*/
  /*background-color: #121617;*/
  background-color: #D14D28;
  filter: blur(50);
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.offcanvas-container {
  /*background-color: #121617;*/
  background-color: #272822;
  z-index: 1000;
}


.navdrawer-container.open,
.offcanvas-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
.offcanvas-container.opened,
main,
.acting-main{
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a,
.offcanvas-container h4,
.offcanvas-container ul li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4,
.offcanvas-container h4 {
  background-color: white;
  color: #404040;
}

.navdrawer-container ul,
.offcanvas-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a,
.offcanvas-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li,
.offcanvas-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before,
.offcanvas-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover,
.offcanvas-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus,
.offcanvas-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active,
.offcanvas-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.mediachecker {  
  opacity: 0;
  float:left;
}

.dummy1 {
}

.dummy2 {
}

#contentcollapser {
  display: none;  
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

#content{
  display : block;
}

.articles-section {
  background-color: transparent;
}

.centered-icon {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.left-div{  
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  color: #FFFFFF; /*#000000;*/
  padding-left: 18px;
  padding-right: 18px;
  text-align: left;  
}

.centered-div{  
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  color: #FFFFFF; /*#000000;*/
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;  
}

.centered-input {
  margin-top: 13px;
  margin-bottom: 13px;  
  width: 100%;
  /*width: 300px;*/
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
}

.centered-input-text {
  text-align: center;
}

.centered-button {  
  width: 100%;  
  display: block; 
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
}

.small-button {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: medium;
  width: 150px;
}

.button-row {
  margin-left: 5px;
  margin-right: 5px;
}

.right-align {  
  position: absolute;
  right: 0px;
  margin-right: 20px;
}

.top {  
  display: flex;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  /*background-color: #121617;*/
  background-color: #272822;
  z-index: 100;
}

.middle {  
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
 }

.footerbar {
    position:fixed;
    bottom:0px;
    height:90px;
    left:0px;
    right:0px; 
    /*background-color: #121617;*/
    background-color: #272822;
    z-index: 100;
}



.bordered-div {
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1px;
}

.roboto-font {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
} 

.full-screen {
  height: 100%;
}

.grey-color-bg {
  /*background-color: #121617;*/
  background-color: #272822;
}

.transparent-bg {
 background-color: transparent; 
}

 #prevq:visited,
 #nextq:visited,
 .color-orange-bg-before:visited {
  /*color: #FF6700;*/
  color: #D14D28;
 }

a:visited {
  color: #3372DF;
}

table tbody{
  background: #272822;
}


 .color-orange-fg {
  color: #FF6700;
 }

 .middle-item {
  margin-top: 10px;
  width: 100%;
 }

.full-width {
  width: 100%;
}

.greyed-input {
  color: #606060;
}

.black-input {
  color: #000000;
}

.valid-input {
  background: white url('/static/mocktest/images/icons/accept.png') left no-repeat;
  padding-left: 40px;
}

.invalid-input {
  background: white url('/static/mocktest/images/icons/warning.png') left no-repeat;
  padding-left: 40px;
}

.form-error {
  color: #FFFE00;
}

.form-label {
  color: #EAEAEA;
}

.hidden-element {
  display: none;
}

ul.ui-autocomplete { 
  list-style-type: none; 
} 

#time-text {
  padding-top: 0px;
  margin-right: 16px;
}

.answer-space {
  height: 150px;
  color: white;
  /*background-color: #121617;  */
  background-color: #272822;
  box-shadow: 0 0 10px rgba(0,0,0,.75);
}


#my-fb-login {
  background-color: #3b5998;
  border-color: #3b5998;
}

#signup {
  color: white;  
  display: block;
  outline-color: transparent;
}

#username {
  background: white url('/static/mocktest/images/icons/user.png') left no-repeat;
  padding-left: 40px;
}


#password {
  background: white url('/static/mocktest/images/icons/closed-lock.png') left no-repeat;
  padding-left: 40px;
}

#controls{
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 13px;
  margin-bottom: 13px;
  width: 100%;
  color: black;
}

#companyinput{
  margin: inherit;
  width: 100%;
  height: 40px;  
}

#companyName{
  margin-right: 2px;
}

#positionName {
  margin-left: 2px;
}

#positionselect,
.wide-select {    
  margin: inherit;
  background-color: #fff;
  color: #000;
  width: 100%;
  height:40px;
}

.narrow-select {
  margin: inherit;
  background-color: #fff;
  color: #000;  
  height:40px; 
}

#buttoncontrols{
  width: 100%;
  display: block;
}

#begintest {  
  width: 100%; 
}

#schedtest {  
  width: 100%;
}

#prev-next-div {
  display: flex;
}

#prev {
  width: 25%;
  float: left;
}

#next {
  width: 25%;
  float: right;
}

.acting-main {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  /* Height of the header */
  padding: 36px 16px 16px 16px;
  min-height: 100%;
  color: white;
  margin-bottom: 90px;
  padding-bottom: 100px;
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
  color: white;
}


.blurred-bg{
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);  
}

.date-as-calendar {
  float: right;  
  margin-right: 5px;
}

.history-badge {
  float: left;
}

.articles-list__item::before {
  margin-left: 30%;  
}

.mobile-text-to-left {
  text-align: left;
  margin-left: 5px;
  padding-left: 32px;
}

.not-mobile {
  display: none;
}

.block-or-flex {
  display: block;
}

.custom-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.custom-combobox {
  position: relative;
  display: inline-flex;
  width: 100%;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
  width: 100%;
}

.custom-combobox .ui-widget{
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

body .ui-widget{
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

body .ui-state-default{  
/*
  background: transparent;
  background-color: #FFFFFF;
*/
}

body .ui-widget-header{
/*
  border: none;
  background: none;
  color: #FFFFFF;
  background-color: #272822;
*/
}

body .ui-state-active a, body .ui-state-active a:link, .body ui-state-active a:visited {
  /*
  color: #FFFFFF;
  background-color: #272822;
  */
}

body label.ui-state-default{  
/*
  background: transparent;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,.75);
  margin-left: 5px;
  margin-right: 5px;    
*/
}

body label.ui-state-active{  
/*
  background: transparent;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,.75);
  margin-left: 5px;
  margin-right: 5px;    
  color: #FFFFFF;
*/
}

body .ui-tabs .ui-tabs-panel{
/*
  background: #272822;
*/
}

body .ui-tabs .ui-tabs-panel p{
/*
  padding-top: 0px;
  color: #FFFFFF;
*/
}

.ui-tabs .ui-tabs-nav li::before{
  display: none;
}

.disabled {
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-filter: opacity(.65);
}

.image-button {
  margin-left: auto;
  margin-right: auto;  
  background: transparent;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,.75);
}

.image-button-column {
  margin-top: 10px;
  margin-bottom: 10px;  
  background: transparent;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,.75);  
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/static/mocktest/images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

/** Mid Sized Screens **/
@media screen and (min-width: 550px) {

  .date-as-calendar {
    float: right;
    margin-right: 150px;
  }

  .history-badge {
    float: left;
    margin-left:60px;
  }

  .mobile-text-to-left {
    text-align: left;
    margin-left: 5px;
    padding-left: 175px;
  }

  .block-or-flex {
    display: flex;
  }

  .not-mobile {
    display: inherit;
  }

  #content {
    display: block;
  }

  #contentcollapser {
    display: none;
  }

  #buttoncontrols {
    display: flex;
  }

  #begintest #schedtest {
    width: 50%;
  }

  .mediachecker {
    display: none;
    float:none;
  }

  .centered-small-div {
    max-width: 400px;
    margin: 0 auto; 
  }

  #prevq::before,
  #nextq::before,
 .color-orange-bg-before::before {
    /*background: #FF6700;*/
    background: #D14D28;
  }

  .answer-space {
    height: 300px;
  }

  #test-control-buttons {
    display: flex;
  }

}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {

  .centered-flip-clock {
    margin-left: auto;
    margin-right: auto;
  }


  .date-as-calendar {
    float: right;
    margin-right: 200px;
  }

  .history-badge {
    float: left;
    margin-left:100px;
  }

  .mobile-text-to-left {
    text-align: left;
    margin-left: 5px;
    padding-left: 225px;
  }

  .block-or-flex {
    display: flex;
  } 

  .not-mobile {
    display: inherit;
  }

  .mobile {
    display: none;
  }

  .mediachecker {
    display: none;
    float: right;
  }

  #contentcollapser {
    display: none;
  }

  #test-control-buttons {
    display: flex;
  }

  .app-bar {
    position: relative;
  }

  
  .top {
    /*height: 100%;*/
    z-index: 100;
    height: 60px;   
    /*background-color: #121617; */
    background-color: #272822;
  }

  .app-bar.open,
  .app-bar.open ~ main,
  .app-bar.open ~ .acting-main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .navdrawer-container,
  .offcanvas-container {
    background-color: transparent;
    padding-top: 0px;
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    //background-color: #4285f4;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  img.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }



  .offcanvas-container {    
    position: fixed;
    float: left;
    width: 200px;
    height: 100%;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }




  .navdrawer-container h4{
    display: none;
  }


  .offcanvas-container ul,
  .offcanvas-container h4 {
    max-width: 200px;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  .acting-main {
    width: 100%;    
    max-width: 764px;
    padding-top: 30px;
    min-height: initial;   
    margin-left: 210px;    
    margin-right: 10px;      
  }


  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;    
  }

  .centered-small-div {
    max-width: 400px;
    margin: 0 auto; 
  }

/*
  .right-align {
    float: right;
  }
*/

  body {
    overflow-y: scroll;
  }

  #prevq::before,
  #nextq::before,
  .color-orange-bg-before::before {
    /*background: #FF6700;*/
    background: #D14D28;
  }

  .answer-space {
    height: 300px;    
  }

}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/static/mocktest/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), 
  	   local('RobotoCondensed-Light'), 
	   url(/static/mocktest/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), 
	   url(/static/mocktest/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/static/mocktest/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), 
  	   local('RobotoCondensed-Regular'), 
	   url(/static/mocktest/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), 
	   url(/static/mocktest/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/static/mocktest/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), 
  	   local('RobotoCondensed-Bold'), 
	   url(/static/mocktest/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), 
	   url(/static/mocktest/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/static/mocktest/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), 
  	   local('RobotoCondensed-LightItalic'), 
	   url(/static/mocktest/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), 
	   url(/static/mocktest/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/static/mocktest/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), 
  	   local('RobotoCondensed-Italic'), 
	   url(/static/mocktest/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), 
	   url(/static/mocktest/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/static/mocktest/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), 
  	   local('RobotoCondensed-BoldItalic'), 
	   url(/static/mocktest/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), 
	   url(/static/mocktest/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
