ul.ui-autocomplete{
    list-style:none;
    list-style-type:none;
    list-style-image:none;
    padding:0;
    margin:0;
    font-family:'Roboto Condensed',Helvetica,Arial,sans-serif;
    font-weight:300;
}

ul.ui-autocomplete li::before{
    display: none;
}
