{% extends "admin/formbase-no-login.html" %}

{% block content %}
<form method="POST" action={{action}} class="pure-form pure-form-aligned">
{% csrf_token %}
{{ message }}
{% for field in form.visible_fields %}
    <div class="pure-control-group">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>    
{% endfor %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
<input type="Submit" value={{submitValue}}>
</input>
</form>
<a href="/admin/home.html"> Home </a>
{% endblock %}