{% extends "admin/formbase.html" %}

{%block jquery %}
<script>
$(function(){
    {% if not isLoggedIn %}
        $("#dashboard").hide();
    {% endif %}
    $("#editPosition").click(function(){
        window.location="/admin/editPosition.html?" + $("#companyPositions").val()
    });
    $("#addquestion").click(function(){
        window.location="/admin/addQuestion.html?companyName=" + $("#companyName").val()
    });
    $("#moderateQuestion").click(function(){
        window.location="/admin/moderateQuestionTable.html?" + $("#moderateIds").val()
    });
    $("#editQuestion").click(function(){
        window.location="/admin/editQuestion.html?" +
        "companyName=" + $("#companyNameText").val() +
        "&positionName=" + $("#positionNameText").val() +
        "&questionId=" + $("#questionIdText").val()
    });
});
</script>
{% endblock %}

{% block content %}    
    <div id="dashboard">
    <h4> Admin Page </h4>
    <ul>
    <li>
    <a href="/admin/addCompany.html">Add Company</a>
    </li>
    <li>
    <a href="/admin/addPosition.html">Add Position</a>
    </li>
    <li>
    <a id="editPosition" href="#">Edit Position</a> for Company/Position
    <select id="companyPositions">
        {% for key, value in companyPositionsDict.iteritems %}
            <option value="{{key}}">{{value}}</option>
        {% endfor %}
    </select>
    </li>
    <li>
    <a id="addquestion" href="#">Add Questions</a> for company 
    <select id="companyName">
        {% for key, value in companyNames.iteritems %}
            <option value="{{key}}">{{value}}</option>
        {% endfor %}
    </select>
    </li>
    <li>
    <a id="editQuestion" href="#">Edit Question</a> for UUIDS'
    <input id="companyNameText" type="text" value="Company Name"/>
    <input id="positionNameText" type="text" value="Position Name"/>
    <input id="questionIdText" type="text" value="Question ID"/>
    </li>
    <li>
    <a id="moderateQuestion" href="#">Moderate Question</a> for company/position
    <select id="moderateIds">
        {% for key, value in moderateIds.iteritems %}
            <option value="{{key}}">{{value}}</option>
        {% endfor %}
    </select>
    </li>
    <li>
    <a id="moderateMentors" href="/admin/moderateMentorsTable.html">Moderate Mentors</a>
    </li>
    <li>
    <a id="AddModerators" href="/admin/addModeratorsTable.html">Add Moderators</a>
    </li>
    </ul>
    </div>
{% endblock %}