{% extends "admin/formbase.html" %}

{%block jquery %}
    $("#addquestion").click(function(){
        window.location="/admin/addQuestion.html?companyName=" + $("#companyName").val()
    });
    $("#moderateQuestion").click(function(){
        window.location="/admin/moderateQuestionTable.html?" + $("#moderateIds").val()
    });
    $("#editQuestion").click(function(){
        window.location="/admin/editQuestion.html?" +
        "companyName=" + $("#companyNameText").val() +
        "&positionName=" + $("#positionNameText").val() +
        "&questionId=" + $("#questionIdText").val()
    });
{% endblock %}

{% block content %}
    <h4> Admin Page </h4>
    <ul>
    <li>
    <a href="/admin/addCompany.html">Add Company</a>
    </li>
    <li>
    <a href="/admin/addPosition.html">Add Position</a>
    </li>
    <li>
    <a id="addquestion" href="#">Add Questions</a> for company 
    <select id="companyName">
        {% for key, value in companyNames.iteritems %}
            <option value="{{key}}">{{value}}</option>
        {% endfor %}
    </select>
    </li>
    <li>
    <a id="editQuestion" href="#">Edit Question</a> for UUIDS'
    <input id="companyNameText" type="text" value="Company Name"/>
    <input id="positionNameText" type="text" value="Position Name"/>
    <input id="questionIdText" type="text" value="Question ID"/>
    </li>
    <li>
    <a id="moderateQuestion" href="#">Moderate Question</a> for company/position
    <select id="moderateIds">
        {% for key, value in moderateIds.iteritems %}
            <option value="{{key}}">{{value}}</option>
        {% endfor %}
    </select>
    </li>
    </ul>
{% endblock %}