{% extends "mocktest/testBase.html" %}

{% block title %}
Favourite Question
{% endblock %}


{% block testContent %}    

    <div class="roboto-font full-screen">
      <div class="offcanvas-container">
        <h4>Questions</h4>
        <ul id="questionsList">                  
          <li> <a href="#">Question 1</a> </li>
        </ul>        
      </div>
    
     <div class="top">
        <img class="menu" src="/static/mocktest/images/icons/questions-list1.png" alt="Questions List" style="margin-left: 10px"/>
        <div id="time" class="right-align">
          <div id="defaultCountdown"></div>          
        </div>
      </div>    
       

      <div class="acting-main">            
        <hr id="linesep-1" class="mobile">
        <div class="middle-item">      
          <!-- Question -->
          <div class="middle-item" id="question">            
              {{favQuestion.question}}
          </div>
          <div>
            Correct Answer
          </div>
          <div id="correct-answer" class="full-width middle-item bordered-div">
              {{favQuestion.answer}}          
          </div>
        </div>
        <div style="display:flex;">
          <a href="/home.html" class="button--mockingone centered-button">Home</a>
          <a href="/favouriteQuestions.html" class="button--mockingone centered-button">Favourites</a>
        </div>
        <!-- Pop ups-->

      </div>   
    </div> 
{% endblock %}