{% extends "mocktest/base.html" %}

{% block title %}
History
{% endblock %}

{% block css_js %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/static/mocktest/styles/pagination-style.css">
{% endblock %} 

{% block just_js%}
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
{% endblock %}

{% block jquery %}
  <script>    
  $(function(){

        /*
        $(document).on({
          ajaxStart: function() { console.log("started"); $("body").addClass("loading"); },
          ajaxStop: function() { console.log("ended"); $("body").removeClass("loading"); }    
        });
        */
        
        $(document).on({
          ajaxStart: function() { NProgress.start(); },
          ajaxStop: function() { NProgress.done(); }    
        });
        

        $(document).on("click", "disabled", function(e){          
          e.preventDefault();
        })
        var lastButton = null;

        /*JQM*/
        $(document).on("click", ".popup-custom-source", function() {          
   
          console.log("Clicked!!");
          //Getting the variable's value from a link 
          var loginBox = $(this).attr('href');

          lastButton = $(this);

          $("#eval-test-id").val($(this).attr('data-testid'));

          //Fade in the Popup
          $(loginBox).fadeIn(300);
          
          //Set the center alignment padding + border see css style
          var popMargTop = ($(loginBox).height() + 24) / 2; 
          var popMargLeft = ($(loginBox).width() + 24) / 2; 
          
          $(loginBox).css({ 
              'margin-top' : -popMargTop,
              'margin-left' : -popMargLeft
          });
          
          // Add the mask to body
          $('body').append('<div id="mask"></div>');
          $('#mask').fadeIn(300);
          
          return false;
        });

        // When clicking on the button close or the mask layer the popup closed
        /*
        $('a.close, #mask').live('click', function() { 
          $('#mask , .login-popup').fadeOut(300 , function() {
            $('#mask').remove();  
          }); 
        return false;
        });
        */

        $('body').on('click', '#mask', function() { 
          $('#mask , .popup').fadeOut(300 , function() {
            $('#mask').remove();  
          }); 
          return false;
        });

        $('body').on('click', 'a.close', function() { 
          $('#mask , .popup').fadeOut(300 , function() {
            $('#mask').remove();  
          }); 
          return false;
        });
        
        /*JQM*/



    var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    
    function makeListTitle(count){
      $(".articles-count").html("We found " + count + " tests matching your criteria");
    }

    function populateTests(pageNum, numItems){
      $.getJSON("/ajaxUtil/userTests.html?pageNum="+pageNum+"&numItems="+numItems,function (data, status){
        if (status === "success") {   
          tests=data['tests'];
          $(".articles-list").html("");
          makeListTitle(parseInt(data['totalItems']));
          $.each(tests, function(index, value){
            makeTestList(index, value, false);
          }); 
          makePagination(parseInt(data['pageNum']),parseInt(data['numPages']),"populateTests");
        }
      });
    }

    function populateCompanyTests(companyName, positionName, pageNum, numItems){
      if (positionName.lastIndexOf("DEFAULT", 0) === 0) {
        positionName="";
      }
      $.getJSON("/ajaxUtil/userCompanyTests.html?companyName="+companyName+"&positionName="+positionName+"&pageNum="+pageNum+"&numItems="+numItems,function (data, status){
        if (status === "success") {              
          tests=data['tests'];
          $(".articles-list").html("");
          makeListTitle(parseInt(data['totalItems']));
          $.each(tests, function(index, value){
            makeTestList(index, value, false);
          }); 
          makePagination(parseInt(data['pageNum']),parseInt(data['numPages']),"populateCompanyTests");
        }
      });
    }

    function populatePositionTests(positionName, companyName, pageNum, numItems){
      if (companyName.lastIndexOf("DEFAULT", 0) === 0) {
        companyName="";
      }
      $.getJSON("/ajaxUtil/userPositionTests.html?positionName="+positionName+"&companyName="+companyName+"&pageNum="+pageNum+"&numItems="+numItems,function (data, status){
        if (status === "success") {              
          tests=data['tests'];
          $(".articles-list").html("");
          makeListTitle(parseInt(data['totalItems']));
          $.each(tests, function(index, value){
            makeTestList(index, value, false);
          }); 
          makePagination(parseInt(data['pageNum']),parseInt(data['numPages']),"populatePositionTests");
        }
      });
    }

    var mode = "";

    $("#pagination-list").click(function(e){
      if (e.target.nodeName == "A") {
        e.preventDefault();
        console.log(e.target);
        var elem = $(e.target);
        console.log(elem.attr("id"));
        if (mode == "populateTests") {
          populateTests(parseInt(elem.attr("id")), 1);
        } else if (mode == "populateCompanyTests") {
          populateCompanyTests($("#companyName").val(),$("#position-select-1").val(),elem.attr("id"),1);
        } else {
          populatePositionTests($("#positionName").val(), $("#company-select-1").val(),elem.attr("id"),1);
        }
      }
    });

    function makePagination(pageNum, totalPages, _mode) {
      $("#pagination-list").empty();
      mode = _mode;
      var index = 0;
      var disabled=" ";
      var numBlks = 7
      index = pageNum-1;
      if (pageNum == 1)
        disabled=" class=\"disabled\" ";
      $("#pagination-list").append("<li class=\"button\"><a id=\""+index+"\""+disabled+"href=\"#\">Prev</a></li>");      
      if (totalPages <= numBlks) {
        for (i = 0; i < totalPages; i++) {
          index = i+1; 
          if (index == pageNum) {
            $("#pagination-list").append("<li class=\"current\"><a id=\""+pageNum+"\" href=\"#\">"+index+"</a></li>");
          } else {
            $("#pagination-list").append("<li class=\"button\"><a id=\""+index+"\" href=\"#\">"+index+"</a></li>");
          }
        }
      }
      else {
        if (pageNum <= numBlks-3) {
          for (i = 0; i < numBlks-2; i++) {
            index = i+1; 
            if (index == pageNum) {
              $("#pagination-list").append("<li class=\"current\"><a id=\""+pageNum+"\" href=\"#\">"+index+"</a></li>");
            } else {
              $("#pagination-list").append("<li class=\"button\"><a id=\""+index+"\" href=\"#\">"+index+"</a></li>");
            }
          }
          $("#pagination-list").append("<li><span>...</span></li>");
          $("#pagination-list").append("<li class=\"button\"><a id=\""+totalPages+"\" href=\"#\">"+totalPages+"</a></li>");
        } else if (pageNum >= (totalPages-3)) {
          $("#pagination-list").append("<li class=\"button\"><a id=\"1\" href=\"#\">"+1+"</a></li>");
          $("#pagination-list").append("<li><span>...</span></li>");
          for (i = 0; i < numBlks-2; i++) {
            index = i+1+pageNum-1; 
            if (index == pageNum) {
              $("#pagination-list").append("<li class=\"current\"><a href=\"#\">"+index+"</a></li>");
            } else {
              $("#pagination-list").append("<li class=\"button\"><a id=\""+index+"\" href=\"#\">"+index+"</a></li>");
            }
          }
        } else {
          $("#pagination-list").append("<li class=\"button\"><a id=\"1\" href=\"#\">1</a></li>");
          if (pageNum - 2 == 2) {
            $("#pagination-list").append("<li class=\"button\"><a id=\"2\" href=\"#\">2</a></li>");
          } else {
            $("#pagination-list").append("<li><span>...</span></li>");
          }
          index = pageNum-1;
          $("#pagination-list").append("<li class=\"button\"><a id=\""+index+"\" href=\"#\">"+index+"</a></li>");
          $("#pagination-list").append("<li class=\"current\"><a href=\"#\">"+pageNum+"</a></li>");
          index = pageNum+1;
          $("#pagination-list").append("<li class=\"button\"><a id=\""+index+"\" href=\"#\">"+index+"</a></li>");
          if (pageNum + 2 == totalPages-1) {
            index=pageNum+2;
            $("#pagination-list").append("<li class=\"button\"><a id=\""+index+"\" href=\"#\">"+index+"</a></li>");
          } else {
            $("#pagination-list").append("<li><span>...</span></li>");
          }
          $("#pagination-list").append("<li class=\"button\"><a id=\"totalPages\" href=\"#\">"+totalPages+"</a></li>");
        }        
      }
      var disabled=" ";
      index = pageNum+1;
      if (pageNum == totalPages)
        disabled=" class=\"disabled\" ";
      $("#pagination-list").append("<li class=\"button\"><a id=\""+index+"\""+disabled+"href=\"#\">Next</a></li>");
    }

    function makeTestList(index, value, isSaved) {
      console.log(value);
      var testDate = new Date(value['testdate']);
      var dateStr = testDate.getFullYear().toString() + "-" + testDate.getMonth().toString() + "-" + testDate.getDate();
      var markStr="";
      var badgeStr = "";
      var evalStr = "";
      var brCount = 0
      var buttonRow = "";
      if (value['isevaluated']){
        /*markStr="Marks Scored: " + value['scoredmarks'] +" / " + value['totalmarks'];*/
        if (value['iscleared']) {
          markStr="Evaluation Result: you will crack it!"
          if ($(".mediachecker").css("float") == "left" ){
            badgeStr="<img class=\"history-badge\" src=\"static/mocktest/images/icons/pass_32.png\">"
          } else {
            badgeStr="<img class=\"history-badge\" src=\"static/mocktest/images/icons/pass_64.png\">"
          }
        } else {
          markStr="Evaluation Result: Better luck next time"
          if ($(".mediachecker").css("float") == "left" ){
            badgeStr="<img class=\"history-badge\" left;\" src=\"static/mocktest/images/icons/fail_32.png\">"
          } else {
            badgeStr="<img class=\"history-badge\" src=\"static/mocktest/images/icons/fail_64.png\">"
          }
        }
        if (value['pendingevaluation']) {
          evalStr = " <a href=\"#\" class=\"button--mockingone small-button button-row disabled\">Re-Evaluate</a>"
          buttonRow = " button-row "
        } else {
          evalStr = " <a href=\"#evaluation-confirmation\" class=\"button--mockingone small-button button-row popup-custom-source\" data-testid=\""+value['testid']+"\">Re-Evaluate</a> "
          buttonRow = " button-row "
        }
      } else {
        brCount += 1;
        if (value['pendingevaluation']) {
          evalStr = " <a href=\"#\" class=\"button--mockingone small-button button-row disabled\">Evaluate</a>"
          buttonRow = " button-row "          
        } else {
          evalStr = " <a href=\"#evaluation-confirmation\" class=\"button--mockingone small-button button-row popup-custom-source\" data-testid=\""+value['testid']+"\">Evaluate</a> "
          buttonRow = " button-row "
        }
      }
      var nameStr="";
      if (value['testname']) {
        nameStr="Name: " + value['testname'];
      } else {
        brCount += 1;
      }           
      var buttonText = "View Result";
      var ahref = "result.html?testId="+value['testid'];
      if (isSaved) {
        buttonText = "Resume Test";
        ahref = "test.html?testId="+value['testid']+"&testName="+
                value['testname'];
      }
      var calendarSize = "size1_5x";        
      if ($(".mediachecker").css("float") == "left" ){
          // Small Screen
          calendarSize = "size1x";
      }              
      var brStr = ""
      if ($(".mediachecker").css("float") == "left" ){
          // Small Screen                    
      } else {
          for (i = 0; i < brCount; i++) {
            brStr += "<br/>"
          }
      }
      $(".articles-list").append(
      "<li class=\"articles-list__item custom-padding blurred-bg\" style=\"width: 100%;\"><time datetime=\"" + dateStr +"\" class=\"date-as-calendar position-em " + calendarSize + "\"><span class=\"weekday\">"+days[testDate.getDay()]+"</span><span class=\"day\">"+testDate.getDate()+"</span><span class=\"month\">"+months[testDate.getMonth()]+"</span><span class=\"year\">"+testDate.getFullYear()+"</span></time>" + badgeStr + "<h5 class=\"mobile-text-to-left\">"+value['companyname']+"</h5><h5 class=\"mobile-text-to-left\">"+value['positionname']+"</h5><h5 class=\"mobile-text-to-left\">"+nameStr+"</h5><h5 class=\"mobile-text-to-left\">Questions Answered: "+value['questionsanswered']+" / "+value['totalquestions']+"</h5><h5 class=\"mobile-text-to-left\">"+markStr+"</h5>" + brStr + "<div><a href=\""+ahref+"\" class=\"button--mockingone small-button" + buttonRow + "\">"+buttonText+"</a>" + evalStr + "</div></li>"
      );
    }

    populateTests(1,1);
    

    $("#positionName").autocomplete({
      source: eval('{{positionNames|safe}}'),
      select: function(event, ui){
        populatePositionTests(ui.item.value,"",1,1);
        /*
        $.getJSON("/ajaxUtil/userPositionTests.html?positionName=" + ui.item.value,function (data, status){
          if (status === "success") {              
            $(".articles-list").html("");
            makeListTitle(data.length);
            $.each(data, function(index, value){
              makeTestList(index, value, false);
           }); 
          }
        });
        */
        /*Get the positions for the company*/
        $.get("/ajaxUtil/userPositionCompany.html?positionName=" + ui.item.value, function (data, status){
          if (status === "success") {
            $("#company-select-1").html(data);
            if ($("#company-select-1 option").length > 0) {
              $("#company-select-1").show();
              $("#companyName").hide();
              $("#clearSearch").show();
            }
          }
        });
      }
    });


    $("#companyName").autocomplete({
      source: eval('{{companyNames|safe}}'),
      select: function(event, ui){
        populateCompanyTests(ui.item.value,"",1,1);
        /*
        $.getJSON("/ajaxUtil/userCompanyTests.html?companyName=" + ui.item.value,function (data, status){
          if (status === "success") {              
            $(".articles-count").html("");
            $(".articles-list").html("");
            makeListTitle(data.length);
            $.each(data, function(index, value){
              makeTestList(index, value, false);
           });             
          }
        });
        */
        /*Get the positions for the company*/
        $.get("/ajaxUtil/userCompanyPosition.html?companyName=" + ui.item.value, function(data, status){
          if (status === "success") {
            $("#position-select-1").html(data);
            if ($("#position-select-1 option").length > 0) {
              $("#positionName").hide();
              $("#position-select-1").show();
              $("#clearSearch").show();
            }
          }
        });
      }
    });

    $("#clearSearch").click(function(){
      $("#position-select-1").html("");
      $("#company-select-1").html("");
      $("#position-select-1").hide();
      $("#company-select-1").hide();
      $("#companyName").show();
      $("#positionName").show();
      $("#companyName").val("");
      $("#positionName").val("");
      $(".articles-list").html("");
      $(".articles-count").html("");
      populateTests(1,1);
    });


    $("#position-select-1").change(function(){
      /*Load Test data based on the company and position*/
      if (!$("#position-select-1").val().match("^Please")) {
        /*
        $.getJSON("/ajaxUtil/userCompanyTests.html?companyName=" + $("#companyName").val() + "&positionName=" + $("#position-select-1").val(),function (data, status){
          if (status === "success") {              
            makeListTitle(data.length);
            $(".articles-list").html("");
            $.each(data, function(index, value){
              makeTestList(index, value, false);
            }); 
          }
        });
        */
        populateCompanyTests($("#companyName").val(),$("#position-select-1").val(),1,1);
      }
    });
    $("#company-select-1").change(function(){
      /*Load Test data based on the company and position*/
      if (!$("#company-select-1").val().match("^Please")) {
        /*
        $.getJSON("/ajaxUtil/userPositionTests.html?companyName=" + $("#company-select-1").val() + "&positionName=" + $("#positionName").val(),function (data, status){
          if (status === "success") {              
            makeListTitle(data.length);
            $(".articles-list").html("");
            $.each(data, function(index, value){
              makeTestList(index, value, false);
            }); 
          }
        });
        */
        populatePositionTests($("#positionName").val(),$("#company-select-1").val(),1,1);
      }
    });

    $("#popup-eval-yes-button").click(function(){
      $.get("ajaxUtil/evaluateTest.html?testId="+$("#eval-test-id").val(), function(data, status){
        $(lastButton).addClass("disabled");
        $(lastButton).removeClass("popup-source");
        $("#mask").trigger("click");
        if (data == "ok") {

        } else {
          alert ("Test not submitted for validation");
        }
      });
    });
    /*
    $("#saved-tests").click(function(){
      $("#company-select").hide();
      $("#position-select-1").hide();
      $("#position-select").hide();
      $("#company-select-1").hide();
      $.getJSON("/ajaxUtil/userSavedTests.html",function (data, status){
        if (status === "success") {              
          $(".articles-list").html("");
          makeListTitle(data.length);
          $.each(data, function(index, value){
            makeTestList(index, value, true);
         }); 
        }
      });
    });
    */
  });
  </script>
{% endblock %}

{% block content %}
  <main>
    <div class="centered-div block-or-flex">
      <input class="centered-input" type="text" id="companyName" placeholder="Enter Company Name"/>
      <select id="company-select-1" name="company-select-1" class="centered-input" style="display:none">
      <input class="centered-input" type="text" id="positionName" placeholder="Enter Position Name"/>
      <select id="position-select-1" name="position-select-1" class="centered-input" style="display:none"></select>        
      <!--
      <img class="not-mobile" src="/static/mocktest/images/icons/search-icon.png"/>
      -->
    </div>
    <div class="middle-item">
      <a id="clearSearch" href="#" class="button--mockingone middle" style="width: 100px; display: none;">Clear</a>
    </div>
    <section class="styleguide__articles-section">
      <div class="articles-section">
          <div class="container">                
              <p class="articles-count"></p>
              <ol class="articles-list">
              </ol>                
          </div>
      </div>
    </section> 
    <nav role="navigation">
      <ul id="pagination-list" class="cd-pagination">
      </ul>
    </nav>
    <input type="hidden" id="eval-test-id"/>
    <div id="evaluation-confirmation" class="popup">
      <a href="#" class="close">
        <img src="/static/mocktest/images/icons/close.png" class="btn_close" title="Close Window" alt="Close" />
      </a>
        <div class="middle">
          Are you sure you want to submit for evaluation?<br/>You could be charged $XX for this transaction.
        </div>              
        <div class="centered-div">
          <button id="popup-eval-yes-button" class="submit button middle" type="button">Yes</button>
        </div>
    </div>
  </main> 
{% endblock %}