{% extends "mocktest/base.html" %}

{% block title %}
Verification Required
{% endblock %}

{% block jquery %}
  <script>    
  </script>
{% endblock %}

{% block content %}
  <main>
  <div id="content">
    <h1 id="hello">Dear {{username}},</h1>
    <p> Before we can proceed, we need you to activate your account by clicking the activation link we sent to you in your email</p>
    <p> Thanks for signing up with us.</p>
    <p> We look forward to seeing you soon</p>
  </div>
  </main> 
{% endblock %}