{% extends "mocktest/base.html" %}  

{% block title %}
Sign Up
{% endblock %}

{% block css_js %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
{% endblock %}

{% block just_js%}
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
{% endblock %}
  

{% block jquery %}
    <script>
      function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,''])[1].replace(/\+/g, '%20'))||null;
      }

    
      $(function(){
        /* Detecting Timezone */
        var tz = jstz.determine();
        $("#timezone").val(tz.name());


        $("#signup-button").click(function(e){
          if ($("#signup-button").hasClass("disabled")) {
            console.log("suppressed");
            e.preventDefault();
          } else {
            console.log("should fire");
            //document.getElementById('signup-form').submit();
            $("#signup-form").submit();
          }
        }); 
        console.log(getURLParameter("redirect_url"))
        $("#redirect_url").val(getURLParameter("redirect_url"));
        /*$("#signup-button").disable(true); */
        $("#username-signup").focus(function(){
          $("#validation-error-password").hide();
          $("#validation-error-firstname").hide();
          $("#validation-error-lastname").hide();
          $("#validation-error-email").hide();
          $("#validation-error-phone").hide();
          $("#validation-error-username").show();
          if ($("#username-signup").val() === "Username") {
            $("#username-signup").val("");
            $("#username-signup").removeClass("greyed-input");
          }
        });
        $("#username-signup").click(function(){
          if ($("#username-signup").val() === "Username") {
            $("#username-signup").val("");
            $("#username-signup").removeClass("greyed-input");
          }
        });
        $("#username-signup").change(function(){
          if ($("#username-signup").val() === "") {
            $("#username-signup").addClass("greyed-input");
            $("#username-signup").val("Username");
          } 
          if (new RegExp("^[A-Za-z0-9_]{3,16}$").test ($("#username-signup").val())) {            
            $.get(
              "ajaxUtil/isUsernameValid.html?username="+$("#username-signup").val(),
              function (data, status) {
                if (data === "ok") {
                  //Valid                
                  $("#username-signup").removeClass(
                    "invalid-input"
                  );
                  $("#username-signup").addClass(
                    "valid-input"
                  );         
                  $("#validation-error-username").html(
                    ""
                  );    
                    if ($("#validation-error-username").html() === "" && 
                        $("#validation-error-password").html() === "" && 
                        $("#validation-error-firstname").html() === "" && 
                        $("#validation-error-lastname").html() === "" && 
                        $("#validation-error-email").html() === "" && 
                        $("#validation-error-phone").html() === "") {
                      $("#signup-button").removeClass("disabled");
                      $("#signup-button").disable(false);
                    }   
                } else {
                  //Invalid
                  $("#username-signup").removeClass(
                    "valid-input"
                  );
                  $("#username-signup").addClass(
                    "invalid-input"
                  );
                  $("#validation-error-username").html(
                    "Username is already taken"
                  );                  
                }
              }
            )
          } else {
            $("#username-signup").removeClass(
              "valid-input"
            );
            $("#username-signup").addClass(
              "invalid-input"
            );
            $("#validation-error-username").html(
              "Valid user name is 3 to 16 characters and contains no special character except _"
            );
          }
        });
        $("#username-signup").blur(function(){
          if ($("#username-signup").val() === "") {
            $("#username-signup").addClass("greyed-input");
            $("#username-signup").val("Username");
          }
        });
        $("#password-signup").focus(function() {
            $("#validation-error-password").show();
            $("#validation-error-firstname").hide();
            $("#validation-error-lastname").hide();
            $("#validation-error-email").hide();
            $("#validation-error-phone").hide();
            $("#validation-error-username").hide();
            if ($("#password-signup").val() === "Password") {
              $("#password-signup").val("");
              $("#password-signup").removeClass("greyed-input");
            }
          });
        $("#password-signup").click(function(){
          if ($("#password-signup").val() === "Password") {
            $("#password-signup").val("");
            $("#password-signup").removeClass("greyed-input");
          }
        });
        $("#password-signup").change(function(){
          if ($("#password-signup").val() === "") {
            $("#password-signup").addClass("greyed-input");
            $("#password-signup").val("Password");
          }
          if ($("#password-signup").val().length < 6) {
            $("#password-signup").removeClass(
              "valid-input"
            );
            $("#password-signup").addClass(
             "invalid-input"
            );
            $("#validation-error-password").html(
              "Password must be atleast 7 characters long"
            );
          } else {
            $("#password-signup").removeClass(
              "invalid-input"
            );
            $("#password-signup").addClass(
              "valid-input"
            );
            $("#validation-error-password").html(
              ""
            );
            if ($("#validation-error-username").html() === "" && 
                $("#validation-error-password").html() === "" && 
                $("#validation-error-firstname").html() === "" && 
                $("#validation-error-lastname").html() === "" && 
                $("#validation-error-email").html() === "" && 
                $("#validation-error-phone").html() === "") {
              $("#signup-button").removeClass("disabled");
              $("#signup-button").disable(false);
            }
          }
        });
        $("#password-signup").blur(function(){
          if ($("#password-signup").val() === "") {
            $("#password-signup").addClass("greyed-input");
            $("#password-signup").val("Password");
          }
        });
        $("#firstname-signup").focus(function(){
          $("#validation-error-password").hide();
          $("#validation-error-firstname").show();
          $("#validation-error-lastname").hide();
          $("#validation-error-email").hide();
          $("#validation-error-phone").hide();
          $("#validation-error-username").hide();
          if ($("#firstname-signup").val() === "First Name") {
            $("#firstname-signup").val("");
            $("#firstname-signup").removeClass("greyed-input");
          }
        });
        $("#firstname-signup").click(function(){
          if ($("#firstname-signup").val() === "First Name") {
            $("#firstname-signup").val("");
            $("#firstname-signup").removeClass("greyed-input");
          }
        });
        $("#firstname-signup").change(function(){
          if ($("#firstname-signup").val() === "") {
            $("#firstname-signup").addClass("greyed-input");
            $("#firstname-signup").val("First Name");
            $("#firstname-signup").removeClass(
              "valid-input"
            );
            $("#firstname-signup").addClass(
             "invalid-input"
            );
            $("#validation-error-firstname").html(
              "First Name can't be empty"
            );
          } else {
            $("#firstname-signup").removeClass(
              "invalid-input"
            );
            $("#firstname-signup").addClass(
              "valid-input"
            );
            $("#validation-error-firstname").html(
              ""
            );
            if ($("#validation-error-username").html() === "" && 
                $("#validation-error-password").html() === "" && 
                $("#validation-error-firstname").html() === "" && 
                $("#validation-error-lastname").html() === "" && 
                $("#validation-error-email").html() === "" && 
                $("#validation-error-phone").html() === "") {
              $("#signup-button").removeClass("disabled");
              $("#signup-button").disable(false);
            }
          }
        });
        $("#firstname-signup").blur(function(){
          if ($("#firstname-signup").val() === "") {
            $("#firstname-signup").addClass("greyed-input");
            $("#firstname-signup").val("First Name");
          }
        });
        $("#lastname-signup").focus(function(){
          $("#validation-error-password").hide();
          $("#validation-error-firstname").hide();
          $("#validation-error-lastname").show();
          $("#validation-error-email").hide();
          $("#validation-error-phone").hide();
          $("#validation-error-username").hide();
          if ($("#lastname-signup").val() === "Last Name") {
            $("#lastname-signup").val("");
            $("#lastname-signup").removeClass("greyed-input");
          }
        });
        $("#lastname-signup").click(function(){
          if ($("#lastname-signup").val() === "Last Name") {
            $("#lastname-signup").val("");
            $("#lastname-signup").removeClass("greyed-input");
          }
        });
        $("#lastname-signup").change(function(){
          if ($("#lastname-signup").val() === "") {
            $("#lastname-signup").addClass("greyed-input");
            $("#lastname-signup").val("Last Name");          
            $("#lastname-signup").removeClass(
              "valid-input"
            );
            $("#lastname-signup").addClass(
             "invalid-input"
            );
            $("#validation-error-lastname").html(
              "Last Name can't be empty"
            );
          } else {
            $("#lastname-signup").removeClass(
              "invalid-input"
            );
            $("#lastname-signup").addClass(
              "valid-input"
            );
            $("#validation-error-lastname").html(
              ""
            );
            if ($("#validation-error-username").html() === "" && 
                $("#validation-error-password").html() === "" && 
                $("#validation-error-firstname").html() === "" && 
                $("#validation-error-lastname").html() === "" && 
                $("#validation-error-email").html() === "" && 
                $("#validation-error-phone").html() === "") {
              $("#signup-button").removeClass("disabled");
              $("#signup-button").disable(false);
            }
          }
        });
        $("#lastname-signup").blur(function(){
          if ($("#lastname-signup").val() === "") {
            $("#lastname-signup").addClass("greyed-input");
            $("#lastname-signup").val("Last Name");
          }
        });
        $("#email-signup").focus(function(){
          $("#validation-error-password").hide();
          $("#validation-error-firstname").hide();
          $("#validation-error-lastname").hide();
          $("#validation-error-email").show();
          $("#validation-error-phone").hide();
          $("#validation-error-username").hide();
          if ($("#email-signup").val() === "E-Mail") {
            $("#email-signup").val("");
            $("#email-signup").removeClass("greyed-input");
          }
        });
        $("#email-signup").click(function(){
          if ($("#email-signup").val() === "E-Mail") {
            $("#email-signup").val("");
            $("#email-signup").removeClass("greyed-input");
          }
        });
        $("#email-signup").change(function(){
          if ($("#email-signup").val() === "") {
            $("#email-signup").addClass("greyed-input");
            $("#email-signup").val("E-Mail");
          }
          if (
            !new RegExp("^\\w+([\\.-]?\\w+)*@\\w+([\\.-]?\\w+)*(\\.\\w{2,3})+$").test (
              $("#email-signup").val()
            )
          ) {
            $("#email-signup").removeClass(
              "valid-input"
            );
            $("#email-signup").addClass(
             "invalid-input"
            );
            $("#validation-error-email").html(
              "Please enter a valid e-mail"
            );
          } else {
            $("#email-signup").removeClass(
              "invalid-input"
            );
            $("#email-signup").addClass(
             "valid-input"
            );
            $("#validation-error-email").html(
              ""
            );
            if ($("#validation-error-username").html() === "" && 
                $("#validation-error-password").html() === "" && 
                $("#validation-error-firstname").html() === "" && 
                $("#validation-error-lastname").html() === "" && 
                $("#validation-error-email").html() === "" && 
                $("#validation-error-phone").html() === "") {
              $("#signup-button").removeClass("disabled");
              $("#signup-button").disable(false);
            }
          }          
        });
        $("#email-signup").blur(function(){
          if ($("#email-signup").val() === "") {
            $("#email-signup").addClass("greyed-input");
            $("#email-signup").val("E-Mail");
          }
        });
        $("#phone-signup").focus(function(){
          if ($("#phone-signup").val() === "Phone Number (Optional)") {
            $("#phone-signup").val("");
            $("#phone-signup").removeClass("greyed-input");
          }
          $("#validation-error-password").hide();
          $("#validation-error-firstname").hide();
          $("#validation-error-lastname").hide();
          $("#validation-error-email").hide();
          $("#validation-error-phone").show();
          $("#validation-error-username").hide();
        });
        $("#phone-signup").click(function(){
          if ($("#phone-signup").val() === "Phone Number (Optional)") {
            $("#phone-signup").val("");
            $("#phone-signup").removeClass("greyed-input");
          }
        });
        $("#phone-signup").change(function(){
          if ($("#phone-signup").val() === "") {
            $("#phone-signup").addClass("greyed-input");
            $("#phone-signup").val("Phone Number (Optional)");
          } else {
            if (
              !new RegExp("^[0-9]{10}$").test (
                $("#phone-signup").val()
              )
            ) {
              $("#phone-signup").removeClass(
                "valid-input"
              );
              $("#phone-signup").addClass(
               "invalid-input"
              );
              $("#validation-error-phone").html(
                "Please enter a valid Phone Number"
              );
            } else {
              $("#phone-signup").removeClass(
                "invalid-input"
              );
              $("#phone-signup").addClass(
               "valid-input"
              );
              $("#validation-error-phone").html(
                ""
              );
              if ($("#validation-error-username").html() === "" && 
                  $("#validation-error-password").html() === "" && 
                  $("#validation-error-firstname").html() === "" && 
                  $("#validation-error-lastname").html() === "" && 
                  $("#validation-error-email").html() === "" && 
                  $("#validation-error-phone").html() === "") {
                $("#signup-button").removeClass("disabled");
                $("#signup-button").disable(false);
              }
            }
          }   
        });
        $("#phone-signup").blur(function(){
          if ($("#phone-signup").val() === "") {
            $("#phone-signup").addClass("greyed-input");
            $("#phone-signup").val("Phone Number (Optional)");
          }
        });
      });
    </script>
{% endblock %}


{% block content %}
    <main>
      <div class="centered-small-div">
      <!-- Add a login icon at the top and middle it-->
      <div class="centered-icon">
      <img class="centered-icon" src="/static/mocktest/images/icons/signup.png"/>
      </div>

      <br/>
      <div class="centered-div form-error">
        <div id="validation-error" class="form-error"></div>
        <div id="validation-error-username">    </div>
        <div id="validation-error-password">    </div>
        <div id="validation-error-firstname">    </div>
        <div id="validation-error-lastname">    </div>
        <div id="validation-error-email">    </div>
        <div id="validation-error-phone"></div>
        <div id="validation-has-error" class="hidden-element">0</div>
      </div>  
      <form id="signup-form" action="signup.html" method="POST">
        {% csrf_token %}
      <!-- Add centred username and password input field -->      
      <div class="centered-div">
        <label class="not-mobile" style="float:left;">User Name: </label>
        <input class="centered-input greyed-input" id="username-signup" type="text" value="Username" name="username"/>
        <label class="not-mobile" style="float:left;">Password: </label>
        <input class="centered-input greyed-input" id="password-signup" type="password" value="Password" name="password"/>
        <label class="not-mobile" style="float:left;">First Name: </label>
        <input class="centered-input greyed-input" id="firstname-signup" type="text" value="First Name" name="firstname"/>
        <label class="not-mobile" style="float:left;">Last Name: </label>
        <input class="centered-input greyed-input" id="lastname-signup" type="text" value="Last Name" name="lastname"/>
        <label class="not-mobile" style="float:left;">E-mail: </label>
        <input class="centered-input greyed-input" id="email-signup" type="text" value="E-Mail" name="email"/>
        <label class="not-mobile" style="float:left;">Phone Number: </label>
        <input class="centered-input greyed-input" id="phone-signup" type="text" value="Phone Number (Optional)" name="phonenumber"
        />
        <input type="hidden" value="" name="timezone" id="timezone"/>
        <input type="hidden" value="" name="redirect_url" id="redirect_url"/>
        <input type="checkbox" name="ismentor" value="True"/> I want to sign up as a mentor too! (<a href="#">Learn More</a>)
      </div>
      </form>
      <div class="centered-div">
        <a id="signup-button" href="#" class="button--mockingone centered-button disabled">Sign Up</a>        
      </div>
      </div>
    </main> 
{% endblock %}