{% extends "mocktest/base.html" %} {% block title %} Home {% endblock %} {% block css_js %}<link rel=stylesheet href=//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css><link rel=stylesheet href=/static/mocktest/styles/autocomplete.css><script src=//code.jquery.com/ui/1.11.4/jquery-ui.js></script>{% endblock %} {% block jquery %}<script>
    $(function() {
      $("#companyinput").click(function(){
        $("#companyinput").val("");
      });
      $("#companyinput").autocomplete({
        source: {{companies|safe}},
        select: function(event, ui){                
                $.get("ajaxUtil/getPositions.html?companyName=" + ui.item.value, function(data, status){
                  $("#positionselect").html(data);
                  $("#positionselect").show();
                  if ($(".mediachecker").css("float") == "left" ){
                    // Small Screen
                    $("#content").hide();
                    $("#contentcollapser").show();
                  }
                });
        }
      });
      $("#contentcollapser").click(function(){
        $("#contentcollapser").hide();
        $("#content").show(); 
      });
      $("#positionselect").change(function(){
        $("#begintest").show();
        $("#schedtest").show();
      });    
      $("#begintest").click(function(){
        console.log($("#companyinput").val())
        window.location = "createtest.html?companyName=" +
        $("#companyinput").val() + "&positionName=" +
        $("#positionselect").val()        
      });
      $("#schedtest").click(function(){
        window.location = "advancedtest.html?companyName=" +
        $("#companyinput").val() + "&positionName=" +
        $("#positionselect").val()
      });
      $(document).on('click', "#logout-button-top", function(){
        $.get(
          "logout.html",
          function(data, status) {
            console.log(status)
            if (status == 'success') {
              $("#login-button-top").show();
              $("#logout-button-top").hide();
              $("#hello").html("Hello!");
            }
          })
      });      
      $(document).on('click', "#login-button-top", function(){
        window.location="login.html?redirect_url=home.html"
      });      
    });
 </script>{% endblock %} {% block content %}<main><p id=contentcollapser>Click for help</p><div id=content><h1 id=hello>Hello! {{username}}</h1><p>Search for your dream job and get started with our carefully prepared mock interviews or read how to <a href=#get-started>Get Started</a> with our interviews</p></div><div id=controls><input id=companyinput type=text name=company value="Enter Company Name"><select id=positionselect name=position style=display:none></select><div id=buttoncontrols><a id=begintest href=# class=button--mockingone style=display:none>Quick Test</a> <a id=schedtest href=# class=button--mockingone style=display:none>Advanced Test</a></div></div></main>{% endblock %}