{% extends "mocktest/testBase.html" %}

{% block title %}
Result
{% endblock %}

{% block css_js %}
  <script src="/static/mocktest/scripts/tinymce/tinymce.min.js"></script>
{% endblock %}

    
{% block testContent %}
    <div class="roboto-font full-screen">
      <div class="offcanvas-container">
        <h4>Questions</h4>
        <ul id="questionsList">                  
        </ul>        
      </div>
     
     <div class="top">
        <img class="menu" src="/static/mocktest/images/icons/questions-list1.png" alt="Questions List" style="margin-left: 10px"/>
        <div id="time" class="right-align">
          <div id="defaultCountdown"></div>          
        </div>
      </div>    
       

      <div class="acting-main">            
        <hr id="linesep-1" class="mobile">
        <div class="middle-item">      
          <!-- Question -->
          <div>
            Question
          </div>
          <div class="middle-item" id="question">            
          <br/>
          </div>
          <div>
            Given Answer
          </div>
          <!-- Given Answer -->
          <!--
          <div id="answer-space" class="full-width middle-item bordered-div" style="font-family: sans-serif;"></div>
          -->
          <div id="answer-space" class="full-width middle-item answer-space">
          </div>
          <br/>
          <div> Code </div>
          <div id="code-space" class="full-width middle-item answer-space">
          </div>
          <div>
          <br/>
          <div>
            Correct Answer
          </div>
          <div id="correct-answer" class="full-width middle-item bordered-div"></div>
          <br/>
          <!-- comments -->
          <div>
            Your comment
          </div>
          <textarea id="mentor-comment" class="full-width middle-item answer-space"></textarea>
          <div>
          <br/>
            Please mark the solution as one of the following
          </div> 
          <div class="centered-div" id="answer-right-wrong">
            <input type="radio" id="radio-correct" name="radio-right-wrong"><label for="radio-correct">Correct</label>
            <input type="radio" id="radio-partially-correct" name="radio-right-wrong"><label for="radio-partially-correct">Partially Correct</label>
            <input type="radio" id="radio-wrong" name="radio-right-wrong"><label for="radio-wrong">Incorrect</label>
          </div>
          <br/>
          <div class="footerbar">
          <!-- Prev Next Save and Navigation -->
          <section class="styleguide__article-nav">
            <div class="container-medium">
            <nav class="article-nav">
            <a id = "prevq" href="#" class="article-nav-link article-nav-link--prev">
                <p id="prevqNum" class="article-nav-count color-orange-bg-before">01</p>                
            </a>
            <a id = "nextq" href="#" class="article-nav-link article-nav-link--next">
                <p id="nextqNum" class="article-nav-count color-orange-bg-before">03</p>                
            </a>
            </nav>
            </div>
          </section>
          </div>
        </div>
        <input type="hidden" id="currentQ"/>
        <input type="hidden" id="testId"/>
        <input type="hidden" id="evalId"/>
        <input type="hidden" id="companyName"/>
        <input type="hidden" id="positionName"/>
        <input type="hidden" id="totalQuestions"/>
        <div style="display:flex;">
        <a href="#mentor-cancel-confirm" class="button--mockingone centered-button popup-source">Cancel</a>
        <a href="#mentor-verdict" id="evaluate-evaluate" class="button--mockingone centered-button disabled">Evaluate</a>
        </div>
        <!-- Pop ups-->

      </div>   
    </div> 

    <div id="mentor-cancel-confirm" class="popup">
      <a href="#" class="close">
        <img src="/static/mocktest/images/icons/close.png" class="btn_close" title="Close Window" alt="Close" />
      </a>
      <form method="post" class="popup-body" action="#">
        <fieldset class="textbox">
          <div class="middle">
          This will exit you from evaluation and you will lose all the progress you have made. Do you wish to cancel?          
          </div>      
          <div class="middle">
          <button id="mentor-cancel-yes-button" class="submit button middle" type="button">Yes! Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>

    <div id="mentor-verdict" class="popup">
      <a href="#" class="close">
        <img src="/static/mocktest/images/icons/close.png" class="btn_close" title="Close Window" alt="Close" />
      </a>
      <form method="post" class="popup-body" action="#">
        <fieldset class="textbox">
          <div class="middle">
          Thanks for your comments. Now it's the moment of truth. What do you think
          </div>    
          <div class="middle">  
            <button id="mentor-pass-button" class="submit button middle" type="button">Pass</button>
            <button id="mentor-fail-button" class="submit button middle" type="button">Fail</button>
          </div>
        </fieldset>
      </form>
    </div>
{% endblock %}


    
{% block jquery %}   

    <script>
      $(function () {

        /*
        $(document).on({
          ajaxStart: function() { NProgress.start(); },
          ajaxStop: function() { NProgress.done(); }    
        });
        */

        var editor1 = ace.edit("answer-space");
        editor1.setTheme("ace/theme/monokai");
        editor1.getSession().setMode("ace/mode/text");
        document.getElementById('answer-space').style.fontSize='20px';
        editor1.getSession().setUseWrapMode(true);
        editor1.setShowPrintMargin(false);
        editor1.setReadOnly(true);
        var editor2 = ace.edit("code-space");
        editor2.setTheme("ace/theme/monokai");
        editor2.getSession().setMode("ace/mode/c_cpp");
        document.getElementById('code-space').style.fontSize='20px';
        editor2.getSession().setUseWrapMode(true);
        editor2.setShowPrintMargin(false);
        editor2.setReadOnly(true);

        tinymce.init({
            selector: "#mentor-comment",
            them: "modern",
            fontsize_formats: "8pt 10pt 12pt 14pt 16pt 18pt 36pt",
        plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
        ],
        content_css: ["/static/mocktest/styles/components.css","/static/mocktest/styles/main.css"],
        body_class: "test-screen",
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor code | fontsizeselect",
        });

        /*JQM*/
        $(document).on('click', '.popup-source', function() {
    
          //Getting the variable's value from a link 
          var loginBox = $(this).attr('href');

          //Fade in the Popup
          $(loginBox).fadeIn(300);
          
          //Set the center alignment padding + border see css style
          var popMargTop = ($(loginBox).height() + 24) / 2; 
          var popMargLeft = ($(loginBox).width() + 24) / 2; 
          
          $(loginBox).css({ 
              'margin-top' : -popMargTop,
              'margin-left' : -popMargLeft
          });
          
          // Add the mask to body
          $('body').append('<div id="mask"></div>');
          $('#mask').fadeIn(300);
          
          return false;
        });

        // When clicking on the button close or the mask layer the popup closed
        /*
        $('a.close, #mask').live('click', function() { 
          $('#mask , .login-popup').fadeOut(300 , function() {
            $('#mask').remove();  
          }); 
        return false;
        });
        */

        $('body').on('click', '#mask', function() { 
          $('#mask , .popup').fadeOut(300 , function() {
            $('#mask').remove();  
          }); 
          return false;
        });

        $('body').on('click', 'a.close', function() { 
          $('#mask , .popup').fadeOut(300 , function() {
            $('#mask').remove();  
          }); 
          return false;
        });
        
        /*JQM*/

        $(document).keydown(function(e) {
          switch(e.which) {
            case 37: // left
            $("#prevq").trigger("click");
            break;

            case 38: // up
            break;

            case 39: // right
            $("#nextq").trigger("click");
            break;

            case 40: // down            
            break;

            default: return; // exit this handler for other keys
          }
          // e.preventDefault(); // prevent the default action (scroll / move caret)
        });      

        $("#answer-right-wrong").buttonset();

        /*Get the test id*/
        $("#testId").val(getURLParameter("testId"));
        $("#evalId").val("{{evalId|safe}}");        

        var questions={{questions|safe}};
        /* Get the current question */
        //var currentQ=questions[0]['currentquestion'];
        var currentQ=0;
        /* Set the current question */
        $("#currentQ").val(currentQ);
        $("#companyName").val(questions[0]['companyname']);
        $("#positionName").val(questions[0]['positionname']);
        $("#totalQuestions").val(questions[0]['totalquestions']);

        $("#radio-correct").next().removeClass("ui-state-active");
        $("#radio-partially-correct").next().removeClass("ui-state-active");
        $("#radio-wrong").next().removeClass("ui-state-active");
        if (questions[currentQ].result == 4) {
          /* WRONG */
          $("#radio-wrong").next().addClass("ui-state-active");
        }
        if (questions[currentQ].result == 5) {
          /* PARTIALLY-CORRECT */
          $("#radio-partially-correct").next().addClass("ui-state-active");
        }
        if (questions[currentQ].result == 6) {
          /* CORRECT */
          $("#radio-correct").next().addClass("ui-state-active");
        }
        /* Load the current question */
        $("#question").html(
          //"<pre style=\"white-space: pre-wrap;\">" +
          "<div>" + parseInt(currentQ + 1).toString() + ") </div>" +
          questions[currentQ]['question']
          //"</pre>"
        );
        /* Load the current answer */
        /*
        $("#answer-space").html(
          "<pre style=\"white-space: pre-wrap;\">" +
          questions[currentQ]['givenanswer'] +
          "</pre>"
        );
        */

        editor1.setValue(questions[currentQ]['givenanswer'],1);
        editor2.setValue(questions[currentQ]['code'],1);

        if (questions[currentQ]['language'] != null) {
          $.getScript("https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-"+questions[currentQ]['language'], function(data, status, jqxhr){
            if (status==='success') {
              editor2.getSession().setMode("ace/mode/"+questions[currentQ]['language'].slice(0, -3));
              console.log("Mode changed");
            }
          });
        }

        $("#correct-answer").html(
          //"<pre style=\"white-space: pre-wrap;\">" +
          questions[currentQ]['correctanswer']
          //"</pre>"
        );
        $('pre code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
        /*
        $("#mentor-comment").val(          
          questions[currentQ]['mentorcomment']
        );
        */
        if (questions[currentQ]['mentorcomment']) {
          tinymce.activeEditor.setContent(questions[currentQ]['mentorcomment']);
        }
        /* Functionality for previous question */
        $("#prevq").click(function(e){              
          if($("#prevq").hasClass("disabled")) {           
            e.preventDefault();
          } else {
            /* Update DB*/
            autoSave();
            /* Update Locally*/
            var curQ = parseInt($("#currentQ").val());
            questions[curQ]['mentorcomment']=tinymce.activeEditor.getContent();
            //$('#mentor-comment').val();            
            /*Update the next Question*/
            /*Update the hidden currentQ*/
            var prevQ = curQ;
            $("#navbarQuestion"+prevQ).trigger("click");
          }
        });
        /* Functionality for next question */
        $("#nextq").click(function(e){              
          if($("#nextq").hasClass("disabled")) {           
            e.preventDefault();
          } else {
            /* Update DB*/
            autoSave();
            /* Update Locally*/
            var curQ = parseInt($("#currentQ").val());            
            questions[curQ]['mentorcomment']=tinymce.activeEditor.getContent();
            //$('#mentor-comment').val();            
            /*Update the next Question*/
            /*Update the hidden currentQ*/
            var nextQ = curQ+2;
            $("#navbarQuestion"+nextQ).trigger("click"); 
          }
        });
        /* Previous question display control */
        $("#prevqNum").change(function(){
          if (parseInt(
                $("#prevqNum").html())<1) {            
            $("#prevq").addClass("disabled");            
            $("#prevqNum").html("--");
          } else {
            $("#prevq").removeClass("disabled");
          }
        });
        /* Next question display control */
        $("#nextqNum").change(function(){
          if (parseInt(
                $("#nextqNum").html()
                )>questions.length) {
            $("#nextq").addClass("disabled");            
            $("#nextqNum").html("--");
          } else {            
            $("#nextq").removeClass("disabled");
          }
        });
        /* Update previous question number */
        $("#prevqNum").html(          
          currentQ
        );
        $("#prevqNum").trigger("change");
        /* Update next question number */
        $("#nextqNum").html(          
          currentQ+2
        );
        $("#nextqNum").trigger("change");

        $("#radio-correct").click(function(){
          var curQ = parseInt($("#currentQ").val()); 
          questions[curQ].result=6;
          autoSave();
        });
        $("#radio-partially-correct").click(function(){
          var curQ = parseInt($("#currentQ").val()); 
          questions[curQ].result=5;
          autoSave();
        });
        $("#radio-wrong").click(function(){
          var curQ = parseInt($("#currentQ").val()); 
          questions[curQ].result=4;
          autoSave();
        });

        var autoSave = function(){
          var result = 0;
          if ($("#radio-correct").next().hasClass("ui-state-active"))
            result = 6;
          if ($("#radio-partially-correct").next().hasClass("ui-state-active"))
            result = 5;
          if ($("#radio-wrong").next().hasClass("ui-state-active"))
            result = 4;
          $.get("/ajaxUtil/saveComment.html?testId=" +
              $("#testId").val() + "&evalId=" + $("#evalId").val() + 
              "&currentQ=" + $("#currentQ").val() + "&comment=" + 
              tinymce.activeEditor.getContent() + "&totalQuestions=" +
              $("#totalQuestions").val() + "&result=" + result, function(data, status){
                if (data === 'done') {
                  $("#evaluate-evaluate").removeClass("disabled");
                  $("#evaluate-evaluate").addClass("popup-source")                  
                }
                else if (data === 'ok') {

                } else {
                  /*Need a provision to display errors*/
                  /*on page*/
                  alert("Error answer not saved!");
                }
            });
        };

        var interval = 1000 * 30;

        setInterval(autoSave, interval);



        /* Logic for questions in navbar */
        $.each(questions, function(index, value){
          index = index+1;
          $("#questionsList").append(
            "<li id=\"navbarLi" + index + "\"><a href=\"#\" id=\"navbarQuestion" +
            index +
            "\">Question " + 
            index +
            "</a></li>"
          );
          $("#navbarQuestion"+index).click(function(){
            autoSave();
            var curQ = parseInt($("#currentQ").val());
            questions[curQ]['mentorcomment']=tinymce.activeEditor.getContent();
            /* Update question number*/
            $("#currentQ").val(index-1);            
            /* Fetch question */
            $("#question").html(
              //"<pre style=\"white-space: pre-wrap;\">" + 
              "<div>" + parseInt(index).toString() + ") </div>" +
              questions[index-1]['question']
              //"</pre>"
            );
            /* Load answer*/
            /*
            $("#answer-space").html(
              "<pre style=\"white-space: pre-wrap;\">" +
              questions[index-1]['givenanswer'] +
              "</pre>"
            );
            */
            editor1.setValue(questions[index-1]['givenanswer'],1);
            editor2.setValue(questions[index-1]['code'],1);

            if (questions[index-1]['language'] != null) {
              $.getScript("https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-"+questions[currentQ]['language'], function(data, status, jqxhr){
                if (status==='success') {
                  editor2.getSession().setMode("ace/mode/"+questions[currentQ]['language'].slice(0, -3));
                  console.log("Mode changed");
                }
              });
            }
            $("#correct-answer").html(
              //"<pre style=\"white-space: pre-wrap;\">" +
              questions[index-1]['correctanswer']
              //"</pre>"
            );
            $('pre code').each(function(i, block) {
              hljs.highlightBlock(block);
            });
            /*
            $("#mentor-comment").val(
              questions[index-1]['mentorcomment']              
            );
            */
            if (questions[index-1]['mentorcomment']) {
              tinymce.activeEditor.setContent(questions[index-1]['mentorcomment']);
            } else {
              tinymce.activeEditor.setContent("");
            }
            $("#prevqNum").html(
              index-1
            );
            $("#prevqNum").trigger("change");
            $("#nextqNum").html(          
              index+1
            );
            $("#radio-correct").next().removeClass("ui-state-active");
            $("#radio-partially-correct").next().removeClass("ui-state-active");
            $("#radio-wrong").next().removeClass("ui-state-active");
            if (questions[index-1].result == 4) {
              /* WRONG */
              $("#radio-wrong").next().addClass("ui-state-active");
            }
            if (questions[index-1].result == 5) {
              /* PARTIALLY-CORRECT */
              $("#radio-partially-correct").next().addClass("ui-state-active");
            }
            if (questions[index-1].result == 6) {
              /* CORRECT */
              $("#radio-correct").next().addClass("ui-state-active");
            }
            $("#nextqNum").trigger("change");
          });                              
        });    
        $("#mentor-verdict").click(function(e){
          if ($("#mentor-verdict").hasClass("disabled")) {
            console.log("Suppressed");
            e.preventDefault();
          }
        })
        $("#mentor-cancel-yes-button").click(function(){
          console.log("Cancelling Evaluation");
          $.get("../ajaxUtil/cancelEvaluation.html?testId="+$("#testId").val()+"&evalId="+$("#evalId").val()+"&companyName="+$("#companyName").val()+"&positionName="+$("#positionName").val(), function(data, status){
            if (data != "ok") {
              alert("Cancelling Operation Failed")
            } else {
              window.location="/mentor/search.html"
            }
          });
        });    
        $("#mentor-pass-button").click(function(){
          console.log("clicked");
          autoSave();
          $.get("/ajaxUtil/saveEvaluationResult.html?testId="+$("#testId").val()+"&result=pass"+"&evalId="+$("#evalId").val(), function(data, status){
            if (data != "ok") {
              alert("Error! submission failed")
            } else {
              window.location="/mentor/search.html"
            }
          });      
        });

        $("#mentor-fail-button").click(function(){
          autoSave();
          $.get("/ajaxUtil/saveEvaluationResult.html?testId="+$("#testId").val()+"&result=fail"+"&evalId="+$("#evalId").val(), function(data, status){
            if (data != "ok") {
              alert("Error! submission failed")
            } else {  
              window.location="/mentor/search.html"
            }
          });      
        });
      });
    </script>
{% endblock %}