{% extends "mentor/mentor_base.html" %}

{% block css_js %}
{% endblock %}

{% block jquery %}
<script>
  $(function(){
    $("#mentor-button").click(function(){
      $.get("/ajaxUtil/mentorRequest.html", function(data, status) {
        if (data == "ok") {
          window.location="/mentor/home.html";
        }
      });
    });
  });
</script>
{% endblock %}

{% block content %}
<main>
  <div id="content">
    <h1 id="hello">Hello! {{username}}</h1>
    <p> You are not signed as a Mentor yet in our system.</p>
    <p> Please <a href="#">read here</a> about our mentorship program and what's required to be a mentor at <i>#include</i>&lt;test&gt;
    <p> If you believe you can be a great mentor, please follow the three step process </p>
    <ul>
      <li> Click the button at the end of page (not immediately, after reading the next two steps) </li>
      <li> Watch out for our verification email. You may have to click the URL sent with the email to verify yourself </li>
      <li> Please give us three to five business days to process your request</li>
    </ul>
    <a id="mentor-button" href="#" class="button--mockingone centered-button" style="width: 300px;"> I so want to be a mentor! </a>    
    <p> Thank you! </p>
  </div>

</main>
{% endblock %}