{% extends "mentor/mentor_base.html" %}

{% block css_js %}    
  <link rel="stylesheet" href="/static/mocktest/styles/fancyDate.css">
{% endblock %}
  

{% block jquery%}    
    <script>    
    $(function(){
      var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

      
      function makeListTitle(count){
        $(".articles-count").html("We found " + count + " tests matching your criteria");
      }
      

      function makeTestList(index, value, isSaved) {
        var testDate = new Date(value['testdate']);
        var dateStr = testDate.getFullYear().toString() + "-" + testDate.getMonth().toString() + "-" + testDate.getDate();
        var buttonText = "Evaluate";
        var ahref = "evaluate.html?companyName="+value['companyname']+"&positionName="+
        value['positionname']+"&testId="+value['testid'];
        var calendarSize = "size1_5x";        
        if ($(".mediachecker").css("float") == "left" ){
            // Small Screen
            calendarSize = "size1x";
        }        
        $(".articles-list").append(
        "<li class=\"articles-list__item custom-padding blurred-bg\"><time datetime=\"" + dateStr +"\" style=\"margin-top:0px\" class=\"date-as-calendar position-em " + calendarSize + "\"><span class=\"weekday\">"+days[testDate.getDay()]+"</span><span class=\"day\">"+testDate.getDate()+"</span><span class=\"month\">"+months[testDate.getMonth()]+"</span><span class=\"year\">"+testDate.getFullYear()+"</span></time><h5 class=\"mobile-text-to-left\">"+value['companyname']+"</h5><h5 class=\"mobile-text-to-left\">"+value['positionname']+"</h5><h5 class=\"mobile-text-to-left\">Questions Answered: "+value['questionsanswered']+" / "+value['totalquestions']+"</h5><br/><a href=\""+ahref+"\" class=\"button--mockingone small-button\">"+buttonText+"</a></li>"
        );
      }

      $.getJSON("/ajaxUtil/mentorTests.html",function (data, status){          
          if (status === "success") {              
            makeListTitle(data.length);
            $.each(data, function(index, value){
              makeTestList(index, value, false);
           }); 
          }
        });
      

      $("#positionName").autocomplete({
        source: {{posList|safe}},
        select: function(event, ui){
          $.getJSON("/ajaxUtil/mentorTests.html?positionName=" + ui.item.value,function (data, status){
            if (status === "success") {                          
              $(".articles-list").html("");
              makeListTitle(data.length);
              $.each(data, function(index, value){
                makeTestList(index, value, false);
             }); 
            }
          });
          /*Get the companies for the position*/
          $.get("/ajaxUtil/mentorPositionCompany.html?positionName=" + ui.item.value, function (data, status){
            if (status === "success") {
              $("#company-select-1").html(data);
              if ($("#company-select-1 option").length > 0) {
                $("#company-select-1").show();
                $("#companyName").hide();
                $("#clearSearch").show();
              }
            }
          });
        }
      });


      $("#companyName").autocomplete({
        source: {{compList|safe}},
        select: function(event, ui){
          $.getJSON("/ajaxUtil/mentorTests.html?companyName=" + ui.item.value,function (data, status){
            if (status === "success") {              
              $(".articles-count").html("");
              $(".articles-list").html("");
              makeListTitle(data.length);
              $.each(data, function(index, value){
                makeTestList(index, value, false);
             });             
            }
          });
          /*Get the positions for the company*/
          $.get("/ajaxUtil/mentorCompanyPosition.html?companyName=" + ui.item.value, function(data, status){
            if (status === "success") {
              $("#position-select-1").html(data);
              if ($("#position-select-1 option").length > 0) {
                $("#positionName").hide();
                $("#position-select-1").show();
                $("#clearSearch").show();
              }
            }
          });
        }
      });

      $("#clearSearch").click(function(){
        $("#position-select-1").html("");
        $("#company-select-1").html("");
        $("#position-select-1").hide();
        $("#company-select-1").hide();
        $("#companyName").show();
        $("#positionName").show();
        $("#companyName").val("");
        $("#positionName").val("");
        $(".articles-list").html("");
        $(".articles-count").html("");
        $.getJSON("/ajaxUtil/mentorTests.html",function (data, status){
          if (status === "success") {     
            $(".articles-list").html("");
            makeListTitle(data.length);
            $.each(data, function(index, value){
              makeTestList(index, value, false);
           }); 
          }
        });
      });


      $("#position-select-1").change(function(){
        /*Load Test data based on the company and position*/
        if (!$("#position-select-1").val().match("^Please")) {
          $.getJSON("/ajaxUtil/mentorTests.html?companyName=" + $("#companyName").val() + "&positionName=" + $("#position-select-1").val(),function (data, status){
            if (status === "success") {              
              makeListTitle(data.length);
              $(".articles-list").html("");
              $.each(data, function(index, value){
                makeTestList(index, value, false);
              }); 
            }
          });
        }
      });
      $("#company-select-1").change(function(){
        /*Load Test data based on the company and position*/
        if (!$("#company-select-1").val().match("^Please")) {
          $.getJSON("/ajaxUtil/mentorTests.html?companyName=" + $("#company-select-1").val() + "&positionName=" + $("#positionName").val(),function (data, status){
            if (status === "success") {              
              makeListTitle(data.length);
              $(".articles-list").html("");
              $.each(data, function(index, value){
                makeTestList(index, value, false);
              }); 
            }
          });
        }
      });
      /*
      $("#saved-tests").click(function(){
        $("#company-select").hide();
        $("#position-select-1").hide();
        $("#position-select").hide();
        $("#company-select-1").hide();
        $.getJSON("/ajaxUtil/userSavedTests.html",function (data, status){
          if (status === "success") {              
            $(".articles-list").html("");
            makeListTitle(data.length);
            $.each(data, function(index, value){
              makeTestList(index, value, true);
           }); 
          }
        });
      });
      */
    });
    </script>
{% endblock %}


{% block content %}
<main>
  <div class="centered-div block-or-flex">
    <input class="centered-input" type="text" id="companyName" placeholder="Enter Company Name"/>
    <select id="company-select-1" name="company-select-1" class="centered-input" style="display:none"></select>
    <input class="centered-input" type="text" id="positionName" placeholder="Enter Position Name"/>
    <select id="position-select-1" name="position-select-1" class="centered-input" style="display:none"></select>        
    <!--
    <img class="not-mobile" src="/static/mocktest/images/icons/search-icon.png"/>
    -->
  </div>
  <div class="middle-item">
    <a id="clearSearch" href="#" class="button--mockingone middle" style="width: 100px; display: none;">Clear</a>
  </div>
  <section class="styleguide__articles-section">
    <div class="articles-section">
        <div class="container">                
            <p class="articles-count"></p>
            <ol class="articles-list">
            </ol>                
        </div>
    </div>
  </section>        
</main>
{% endblock %}
